@font-face
  font-family: 'aire_bold_proregular'
  src: url('../fonts/aire_bold_pro/AireBoldPro.otf') format('opentype')
  font-weight: normal
  font-style: normal



@font-face
  font-family: 'glober_regularregular'
  src: url('../fonts/glober_regular/FontfabricGloberRegular.otf') format('opentype')
  font-weight: normal
  font-style: normal
