doctype html
html
  head
  title Anna Kondakova
  //- script(src='/javascripts/jquery.js')
  body
    include layouts/header.pug
    include layouts/mainBody.pug
    link(rel='stylesheet', href='styles.css')
    script(src='./bundle.js')