section.photo-section-1.fxd-bg
  .container
    .logo
section.about#about
  .container
    a.down-arrow(href="#about" data-scroll)
      include ../svg/arrow.pug
    h2 Обо мне
    article.
      Ее танцевальная история началась в 5 лет, когда она подошла к маме и сказала, что хочет быть балериной и уселась перед ней на шпагат. В балетную школу ее так и не определили, однако, в 7 лет она начала заниматься художественной гимнастикой, в 8 определилась в Спортивные бальные танцы, где и задержалась на 8 лет. Затем ушла в сольные, ее заинтересовал Джаз Модерн и Классическая Хореография. Она была задействована в 2-ух танцевальных коллективах одновременно в течении 5-ти лет. Вскоре узнала про социальные танцы и West Coast Swing.
      Начала заниматься в 2008 г, первый преподаватель – Екатерина Авласевич, а далее были такие известные профессионалы, как:  Maxence Martin,  Jordan Frisbee & Tatiana Mollmann, Cristopher Hussey & Katrina Branson, Micheal Kielbasa, John Lindo & Jessica Cox,Kyle Redd & Sarah Vann Drake, Mario Robau, Luis Crespo, Brennar Goree, Mary Ann Nunez, Deborah S Székely, Benji Schwimmer. И по сей день Марина посещает мастер классы ведущих профессионалов мира, чтобы открывать новые грани этого танца и делится полученным опытом.
      На сегодняшний день Марина – одна из лучших профессиональных танцоров WCS в России уровня All Stars. Ее достижения и успехи в соревновательной деятельности международного уровня можно долго перечислять, проще увидеть на официальном сайте World Swing Dance Council.
      Как педагог Марина открыла себя в 2011 году. Первые мастер классы прошли в Москве в паре с Американским топ-танцором Гари Уланером и впервые в России была представлена сольная программа женского стиля в ВКС. Марина первая разработала и адаптировала специальную программу для дополнительного развития эстетической составляющей парного танца West Coast Swing для девушек всех возрастов с базовой подготовкой танца West Coast Swing, которая направлена на раскрытие женской составляющей парного танца: Lady`s Styling.
section.portfolio
  .container
    h2 Портфолио
section.photo-section-2.fxd-bg
section.schedule
  .container
    h2 Расписание
section.photo-section-3.fxd-bg
section.calendar
  .container
    h2 Календарь
section.photo-section-4.fxd-bg
section.articles
section.photo-section-5.fxd-bg
  .container
    .contacts
      h2 Контакты
