<svg xmlns="http://www.w3.org/2000/svg" width="46" height="28" viewBox="1575 -2 46 28">
  <g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="2" stroke-linecap="square">
    <path d="M0.846153846,0.831111111 L21.1538462,20.7777778" transform="translate(1598.000000, 12.000000) rotate(-270.000000) translate(-1598.000000, -12.000000) translate(1587.000000, -10.000000)"/>
    <path d="M0.846153846,23.2222222 L21.1538462,43.1688889" transform="translate(1598.000000, 12.000000) rotate(-270.000000) translate(-1598.000000, -12.000000) translate(1587.000000, -10.000000) translate(11.000000, 33.195556) scale(-1, 1) translate(-11.000000, -33.195556)"/>
  </g>
</svg>